<h1>Shoo: Pre-Order</h1>

<form action="/preorder" method="post">
  <label>First Name:</label>
  <input type="text" name="first_name">

  <label>Last Name:</label>
  <input type="text" name="last_name">

  <label>Address:</label>
  <input type="text" name="address">

  <label>Select UK Shoe Size (M/F):</label>
  <select name="size">
    <optgroup label="Male Shoes Size:">
      <option value="Male - Size 7">7 (M)</option>
      <option value="Male - Size 8">8 (M)</option>
      <option value="Male - Size 9">9 (M)</option>
      <option value="Male - Size 10">10 (M)</option>
      <option value="Male - Size 11">11 (M)</option>
    </optgroup>
    <optgroup label="Female Shoes Size:">
      <option value="Female - Size 4">4 (F)</option>
      <option value="Female - Size 5">5 (F)</option>
      <option value="Female - Size 6">6 (F)</option>
      <option value="Female - Size 7">7 (F)</option>
      <option value="Female - Size 8">8 (F)</option>
    </optgroup>
  </select>

  <label>Quantity:</label>
  <input type="number" name="quantity">

  <input type="submit" value="Order Now!">
</form>









